<table>
<tr>
	<th>ID</th>
	<td><%= @user.id %></td>
</tr>
<tr>
	<th>First</th>
	<td><%= @user.fname %></td>
</tr>
<tr>
	<th>Last</th>
	<td><%= @user.lname %></td>
</tr>
<tr>
	<th>Username</th>
	<td><%= @user.username %></td>
</tr>
</table>